<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>label</key>
		<string>不限</string>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>label</key>
		<string>安徽</string>
		<key>value</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>label</key>
		<string>北京</string>
		<key>value</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>label</key>
		<string>重庆</string>
		<key>value</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>label</key>
		<string>福建</string>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>label</key>
		<string>甘肃</string>
		<key>value</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>label</key>
		<string>广东</string>
		<key>value</key>
		<integer>7</integer>
	</dict>
</array>
</plist>
