<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstBatch</key>
	<array>
		<dict>
			<key>school</key>
			<string>哈尔滨工业大学</string>
			<key>specialty</key>
			<string>计算机专业</string>
			<key>2018Plan</key>
			<string>200</string>
			<key>2017MaxRanking</key>
			<string>199</string>
			<key>2017MinRanking</key>
			<string>198</string>
			<key>RankingPeople</key>
			<string>2000</string>
		</dict>
		<dict>
			<key>school</key>
			<string>哈尔滨信息工程学院</string>
			<key>specialty</key>
			<string>软件工程专业</string>
			<key>2018Plan</key>
			<string>500</string>
			<key>2017MaxRanking</key>
			<string>499</string>
			<key>2017MinRanking</key>
			<string>498</string>
			<key>RankingPeople</key>
			<string>5000</string>
		</dict>
	</array>
	<key>secondBatch</key>
	<array>
		<dict>
			<key>school</key>
			<string>哈尔滨工程大学</string>
			<key>specialty</key>
			<string>计算机专业</string>
			<key>2018Plan</key>
			<string>200</string>
			<key>2017MaxRanking</key>
			<string>199</string>
			<key>2017MinRanking</key>
			<string>198</string>
			<key>RankingPeople</key>
			<string>2000</string>
		</dict>
		<dict>
			<key>school</key>
			<string>哈尔滨华夏计算机学院</string>
			<key>specialty</key>
			<string>软件工程专业</string>
			<key>2018Plan</key>
			<string>500</string>
			<key>2017MaxRanking</key>
			<string>499</string>
			<key>2017MinRanking</key>
			<string>498</string>
			<key>RankingPeople</key>
			<string>5000</string>
		</dict>
	</array>
</dict>
</plist>
